<header class="navbar navbar-expand bg-white px-4 border-bottom fixed-top shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <a class="navbar-brand fw-bold logo-tingogo" href="#">TingoGo</a>

        <div class="d-flex gap-4 align-items-center style-icons">
            <a href="#" class="text-dark"><i class="bi bi-search fs-5"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-person-circle fs-5"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-bag-dash fs-5"></i></a>
        </div>

    </div>
</header>